/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f8fb;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f8a8d8, #f078b1);
    padding: 20px;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f1c6da;
}

header h1 {
    font-size: 3em;
    color: #e57f94;
}

header p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
    margin-top: 10px;
}

header .cita {
    font-style: italic;
    font-size: 1.1em;
    color: #8a4c65;
    margin-top: 10px;
}

main {
    margin-top: 30px;
}

.mensaje h2 {
    font-size: 2em;
    color: #e57f94;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 160px;
    font-size: 1.2em;
    padding: 20px;
    border: 2px solid #f078b1;
    border-radius: 10px;
    resize: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fdfdff;
    color: #333;
}

textarea:focus {
    outline: none;
    border-color: #f8a8d8;
}

button {
    width: 100%;
    background-color: #f78da7;
    color: white;
    font-size: 1.4em;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f6c2c2;
}

.mensajes-anteriores h2 {
    font-size: 1.8em;
    color: #e57f94;
    margin-bottom: 20px;
}

#mensajes-previos {
    max-height: 300px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mensaje-previo {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
    color: #555;
    padding: 10px;
    background-color: #f1c6da;
    border-radius: 10px;
}
