/* General settings */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #ff9f9f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    color: #555;
}

main {
    text-align: center;
    margin-top: 40px;
}

.fecha p {
    font-size: 1.2em;
    color: #777;
}

.mensaje {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.mensaje h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

#mensaje-dia {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
    min-height: 100px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.nuevo-mensaje textarea {
    width: 80%;
    height: 120px;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 20px;
    resize: none;
}

.nuevo-mensaje button {
    background-color: #ff9f9f;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
